# Spark 101

In [1]:
import pyspark

import pandas as pd
import numpy as np

from seaborn import load_dataset
from pydataset import data
from vega_datasets import data as vega

In [2]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/18 10:29:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### 1. Create & Explore a DF
Create a spark data frame that contains your favorite programming languages.

- The name of the column should be language
- View the schema of the dataframe
- Output the shape of the dataframe
- Show the first 5 records in the dataframe

---

#### Create DF
The name of the column should be language

In [3]:
# Create a Pandas DF with column name of language

pandas_df = pd.DataFrame(data=['JavaScript', 'Java', 'C#', 'C', 'C++',\
                               'Go', 'PHP','Python', 'R', 'Swift'], columns=['language'])

In [4]:
# convert the pandas DF to a Spark dataframe
df = spark.createDataFrame(pandas_df)
df

DataFrame[language: string]

In [5]:
df.show(5)

+----------+
|  language|
+----------+
|JavaScript|
|      Java|
|        C#|
|         C|
|       C++|
+----------+
only showing top 5 rows

In [6]:
df.describe().show()

+-------+--------+
|summary|language|
+-------+--------+
|  count|      10|
|   mean|    null|
| stddev|    null|
|    min|       C|
|    max|   Swift|
+-------+--------+

---

#### View Schema
View the schema of the dataframe

In [7]:
# View the schema of the dataframe
df.printSchema()

root
 |-- language: string (nullable = true)

---

#### Shape
Output the shape of the dataframe

In [8]:
# Output the shape of the dataframe
print(df.count(), "rows", len(df.columns), "columns")

10 rows 1 columns

---

#### First 5 Records
Show the first 5 records in the dataframe

In [9]:
#Show the first 5 records in the dataframe
df.head(5)

[Row(language='JavaScript'),
 Row(language='Java'),
 Row(language='C#'),
 Row(language='C'),
 Row(language='C++')]

## 2. MPG
Load the mpg dataset as a spark dataframe.

- 2a. 
Create 1 column of output that contains a message like the one below:

The 1999 audi a4 has a 4 cylinder engine.

For each vehicle.

- 2b. 
Transform the trans column so that it only contains either manual or auto.

3. Load the tips dataset as a spark dataframe.

- 3a. 
What percentage of observations are smokers?

- 3b.
Create a column that contains the tip percentage

- 3c. 
Calculate the average tip percentage for each combination of sex and smoker.

4. Use the seattle weather dataset referenced in the lesson to answer the questions below.

- Convert the temperatures to fahrenheit.
- Which month has the most rain, on average?
- Which year was the windiest?
- What is the most frequent type of weather in January?
- What is the average high and low temperature on sunny days in July in 2013 and 2014?
- What percentage of days were rainy in q3 of 2015?
- For each year, find what percentage of days it rained (had non-zero precipitation).