## Spark Mini Lesson

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(13)

pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

## 1. Spark Dataframe Basics

### a. 
Use the starter code above to create a pandas dataframe.

In [3]:
pandas_dataframe.head()

          n group  abool
0 -0.712391     z  False
1  0.753766     x  False
2 -0.044503     z  False
3  0.451812     y  False
4  1.345102     z  False

### b. 
Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.

In [4]:
import pyspark

In [5]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/19 09:50:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/05/19 09:50:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
# convert the pandas DF to a Spark dataframe
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

### c. 
Show the first 3 rows of the dataframe.

In [7]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

### d. 
Show the first 7 rows of the dataframe.

In [8]:
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

### e. 
What is the difference between .show and .head?

In [9]:
df.show(2)

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|-0.712390662050588|    z|false|
| 0.753766378659703|    x|false|
+------------------+-----+-----+
only showing top 2 rows

In [10]:
df.head(2)

[Row(n=-0.712390662050588, group='z', abool=False),
 Row(n=0.753766378659703, group='x', abool=False)]

- .show() cannot be worked with programmatically. It literally only shows the request.
- .head() CAN be worked with programmatically

### f. 
View a summary of the data using .describe.

In [11]:
df.describe()

DataFrame[summary: string, n: string, group: string]

In [12]:
df.describe().show()

+-------+------------------+-----+
|summary|                 n|group|
+-------+------------------+-----+
|  count|                20|   20|
|   mean|0.3664026449885216| null|
| stddev|0.8905322898155364| null|
|    min|-1.261605945319069|    x|
|    max|2.1503829673811126|    z|
+-------+------------------+-----+

### g. 
Use .select to create a new dataframe with just the n and abool columns. View the first 5 rows of this dataframe.

In [13]:
df2 = df.select(df.n, df.abool)
df2.show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

### h. 
Use .select to create a new dataframe with just the group and abool columns. View the first 5 rows of this dataframe.

In [14]:
df3 = df.select(df.group, df.abool)
df3.show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

### i. 
Use .select to create a new dataframe with the group column and the abool column renamed to a_boolean_value. Show the first 3 rows of this dataframe.

In [15]:
df4 = df.select(df.group, df.abool.alias('a_boolean_value'))
df4.show(5)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
|    y|          false|
|    z|          false|
+-----+---------------+
only showing top 5 rows

### j. 
Use .select to create a new dataframe with the group column and the n column renamed to a_numeric_value. Show the first 6 rows of this dataframe.

In [16]:
df5 = df.select(df.group, df.n.alias('a_numeric_value'))
df5.show(5)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
+-----+--------------------+
only showing top 5 rows

## 2. Column Manipulation

### a. 
Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named df

In [17]:
# convert the pandas DF to a Spark dataframe
df = spark.createDataFrame(pandas_dataframe)
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

### b. 
Use .select to add 4 to the n column. Show the results.

In [18]:
df.select(df.n +4).show(5)

+------------------+
|           (n + 4)|
+------------------+
|3.2876093379494122|
| 4.753766378659703|
|3.9554969216619464|
|  4.45181233874579|
|5.3451017084510095|
+------------------+
only showing top 5 rows

### c. 
Subtract 5 from the n column and view the results.

In [19]:
df.select(df.n -5 ).show(5)

+-------------------+
|            (n - 5)|
+-------------------+
| -5.712390662050588|
| -4.246233621340297|
| -5.044503078338053|
|  -4.54818766125421|
|-3.6548982915489905|
+-------------------+
only showing top 5 rows

### d. 
Multiply the n column by 2. View the results along with the original numbers.

In [20]:
df.select(df.n * 2).show(5)

+--------------------+
|             (n * 2)|
+--------------------+
|  -1.424781324101176|
|   1.507532757319406|
|-0.08900615667610691|
|  0.9036246774915795|
|  2.6902034169020195|
+--------------------+
only showing top 5 rows

### e. 
Add a new column named n2 that is the n value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original n value as well as n2.

In [21]:
col = (df.n * -1)
df.select(df.n, col.alias('n2')).show(4)

+--------------------+--------------------+
|                   n|                  n2|
+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|
|   0.753766378659703|  -0.753766378659703|
|-0.04450307833805...|0.044503078338053455|
| 0.45181233874578974|-0.45181233874578974|
+--------------------+--------------------+
only showing top 4 rows

### f. 
Add a new column named n3 that is the n value squared. Show the first 5 rows of your dataframe. You should see both n, n2, and n3.

In [22]:
col2 = (df.n ** 2)
df.select(df.n, col.alias('n2'), col2.alias('n3')).show(4)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|   0.712390662050588|   0.507500455376875|
|   0.753766378659703|  -0.753766378659703|  0.5681637535977627|
|-0.04450307833805...|0.044503078338053455|0.001980523981562...|
| 0.45181233874578974|-0.45181233874578974| 0.20413438944294027|
+--------------------+--------------------+--------------------+
only showing top 4 rows

### g. 
What happens when you run the code below?

df.group + df.abool

In [23]:
df.group + df.abool

Column<'(group + abool)'>

### h. 
What happens when you run the code below? What is the difference between this and the previous code sample?

df.select(df.group + df.abool)

- An error is created:


    - cannot resolve '(CAST(group AS DOUBLE) + abool)' due to data type mismatch: differing types in '(CAST(group AS DOUBLE) + abool)' (double and boolean).;

### i. 
Try adding various other columns together. What are the results of combining the different data types?

In [24]:
df6 = df.select(df.n + df.group)
df6.show(5)

+-----------+
|(n + group)|
+-----------+
|       null|
|       null|
|       null|
|       null|
|       null|
+-----------+
only showing top 5 rows

- adding double (int) and string results in null
- adding double (int) and bool results in error
- adding boolean and string results in error

---

## 3. Type casting

### a.
Use the starter code above to re-create a spark dataframe.

In [25]:
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

### b.
Use .printSchema to view the datatypes in your dataframe.

In [26]:
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)

### c. 
Use .dtypes to view the datatypes in your dataframe.

In [27]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

### d.
What is the difference between the two code samples below?

- df.abool.cast('int')
- df.select(df.abool.cast('int')).show()

In [28]:
df.abool.cast('int')

Column<'CAST(abool AS INT)'>

In [29]:
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

### e.
Use .select and .cast to convert the abool column to an integer type. View the results.

In [30]:
df.select(df.abool.cast('int')).show(5)

+-----+
|abool|
+-----+
|    0|
|    0|
|    0|
|    0|
|    0|
+-----+
only showing top 5 rows

### f. 
Convert the group column to a integer data type and view the results. What happens?

In [31]:
df.select(df.group.cast('int')).show(5)

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
+-----+
only showing top 5 rows

The contents are converted to null when a string is converted to an integer.

### g. 
Convert the n column to a integer data type and view the results. What happens?

In [32]:
df.select(df.n.cast('int')).show(20)

+---+
|  n|
+---+
|  0|
|  0|
|  0|
|  0|
|  1|
|  0|
|  1|
|  0|
|  1|
| -1|
|  0|
| -1|
|  0|
|  0|
|  0|
|  0|
|  0|
|  2|
|  0|
|  0|
+---+

In [33]:
df.select(df.n).show(20)

+--------------------+
|                   n|
+--------------------+
|  -0.712390662050588|
|   0.753766378659703|
|-0.04450307833805...|
| 0.45181233874578974|
|  1.3451017084510097|
|  0.5323378882945463|
|  1.3501878997225267|
|  0.8612113741693206|
|  1.4786857374358966|
| -1.0453771305385342|
| -0.7889890249515489|
|  -1.261605945319069|
|  0.5628467852810314|
|-0.24332625188556253|
|  0.9137407048596775|
| 0.31735092273633597|
| 0.12730328020698067|
|  2.1503829673811126|
|  0.6062886568962988|
|-0.02677164998644...|
+--------------------+

- When a decimal is converted to an integer, only the whole number remains (not rounded)

### h.
Convert the abool column to a string data type and view the results. What happens?

In [34]:
df.select(df.abool.cast('string')).show(20)

+-----+
|abool|
+-----+
|false|
|false|
|false|
|false|
|false|
|false|
|false|
|false|
| true|
| true|
|false|
|false|
| true|
| true|
|false|
|false|
|false|
| true|
|false|
| true|
+-----+

In [35]:
df.select(df.abool).show(20)

+-----+
|abool|
+-----+
|false|
|false|
|false|
|false|
|false|
|false|
|false|
|false|
| true|
| true|
|false|
|false|
| true|
| true|
|false|
|false|
|false|
| true|
|false|
| true|
+-----+

- the boolean string value is still shown. There is no visual change.

---

## 4. Built-in Functions

### a. 
Use the starter code above to re-create a spark dataframe.

In [36]:
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

### b. 
Import the necessary functions from pyspark.sql.functions

In [37]:
from pyspark.sql.functions import *
from pyspark.sql.functions import concat, sum, avg, min, max, count, mean

In [38]:
import pydataset
import pyspark
from pyspark.sql.functions import sum
from builtins import sum
import pyspark.sql.functions as F
from pyspark.sql.functions import lit

### c. 
Find the highest n value.

In [39]:
df.select(max(df.n)).show()

+------------------+
|            max(n)|
+------------------+
|2.1503829673811126|
+------------------+

### d. 
Find the lowest n value.

In [40]:
df.select(min(df.n)).show()

+------------------+
|            min(n)|
+------------------+
|-1.261605945319069|
+------------------+

### e. 
Find the average n value.

In [41]:
df.select(avg(df.n)).show()

+------------------+
|            avg(n)|
+------------------+
|0.3664026449885216|
+------------------+

In [42]:
df.select(mean(df.n)).show()

+------------------+
|            avg(n)|
+------------------+
|0.3664026449885216|
+------------------+

In [43]:
df.agg({ 'n': 'mean'}).show()

+------------------+
|            avg(n)|
+------------------+
|0.3664026449885216|
+------------------+

### f. 
Use concat to change the group column to say, e.g. "Group: x" or "Group: y"

In [44]:
from pyspark.sql.functions import lit

In [45]:
df.select(concat(lit('group: '), df.group)).show(5)

+----------------------+
|concat(group: , group)|
+----------------------+
|              group: z|
|              group: x|
|              group: z|
|              group: y|
|              group: z|
+----------------------+
only showing top 5 rows

### g. 
Use concat to combine the n and group columns to produce results that look like this: "x: -1.432" or "z: 2.352"

In [46]:
df.show(2)

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|-0.712390662050588|    z|false|
| 0.753766378659703|    x|false|
+------------------+-----+-----+
only showing top 2 rows

In [47]:
df.select(concat(df.group, lit(': '), df.n)).show(5)

+--------------------+
|concat(group, : , n)|
+--------------------+
|z: -0.71239066205...|
|x: 0.753766378659703|
|z: -0.04450307833...|
|y: 0.451812338745...|
|z: 1.345101708451...|
+--------------------+
only showing top 5 rows

---

## 5. When / Otherwise

In [58]:
from pyspark.sql.functions import when

### a. 
Use the starter code above to re-create a spark dataframe.

In [59]:
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

### b.
Use when and .otherwise to 
- create a column that contains the text "It is true" 
- when abool is true and 
- "It is false"" 
- when abool is false.

In [66]:
df.select(df.abool,
          when(df.abool == True, lit('It is true'))
          .otherwise('It is false')
          .alias('True of False')
          ).show(10)

+-----+-------------+
|abool|True of False|
+-----+-------------+
|false|  It is false|
|false|  It is false|
|false|  It is false|
|false|  It is false|
|false|  It is false|
|false|  It is false|
|false|  It is false|
|false|  It is false|
| true|   It is true|
| true|   It is true|
+-----+-------------+
only showing top 10 rows

### c. 
- Create a column 
- that contains 0 if n is less than 0, 
- otherwise, the original n value.

In [69]:
df.select(df.n,
          when(df.n < 0, 0)
          .otherwise(df.n)
          .alias('Contains 0')
         ).show(5)

+--------------------+-------------------+
|                   n|         Contains 0|
+--------------------+-------------------+
|  -0.712390662050588|                0.0|
|   0.753766378659703|  0.753766378659703|
|-0.04450307833805...|                0.0|
| 0.45181233874578974|0.45181233874578974|
|  1.3451017084510097| 1.3451017084510097|
+--------------------+-------------------+
only showing top 5 rows

---

## 6. Filter / Where

### a. 
Use the starter code above to re-create a spark dataframe.

In [49]:
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

### b.
Use .filter or .where to select just the rows where the group is y and view the results.

In [73]:
df.filter(df.group == 'y').show(5)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|0.45181233874578974|    y|false|
| 0.5323378882945463|    y|false|
|-1.0453771305385342|    y| true|
| -1.261605945319069|    y|false|
| 0.5628467852810314|    y| true|
+-------------------+-----+-----+
only showing top 5 rows

In [74]:
df.where(df.group == 'y').show(5)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|0.45181233874578974|    y|false|
| 0.5323378882945463|    y|false|
|-1.0453771305385342|    y| true|
| -1.261605945319069|    y|false|
| 0.5628467852810314|    y| true|
+-------------------+-----+-----+
only showing top 5 rows

### c. 
Select just the columns where the abool column is false and view the results.

In [75]:
df.filter(df.abool == False).show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

In [76]:
df.where(df.abool == False).show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

### d. 
Find the columns where the group column is not y.

In [78]:
df.filter(df.group != 'y').show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

In [77]:
df.where(df.group != 'y').show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

### e.
Find the columns where n is positive.

In [82]:
df.filter(df.n > 0).show(10)
# OR ---> df.where(df.n > 0).show(10)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|  0.753766378659703|    x|false|
|0.45181233874578974|    y|false|
| 1.3451017084510097|    z|false|
| 0.5323378882945463|    y|false|
| 1.3501878997225267|    z|false|
| 0.8612113741693206|    x|false|
| 1.4786857374358966|    z| true|
| 0.5628467852810314|    y| true|
| 0.9137407048596775|    y|false|
|0.31735092273633597|    x|false|
+-------------------+-----+-----+
only showing top 10 rows

### f.
Find the columns where abool is true and the group column is z.

In [85]:
df.filter((df.abool == True) & (df.group == 'z')).show(5)
# OR ---> df.where

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|1.4786857374358966|    z| true|
+------------------+-----+-----+


### g.
Find the columns where abool is true or the group column is z.

In [86]:
df.filter((df.abool == True) | (df.group == 'z')).show(5)
# OR ---> df.where

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
+--------------------+-----+-----+
only showing top 5 rows

### h.
Find the columns where abool is false and n is less than 1

In [87]:
df.filter((df.abool == False) & (df.n < 1)).show(5)
# OR ---> df.where

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
+--------------------+-----+-----+
only showing top 5 rows

### i.
Find the columns where abool is false or n is less than 1

In [88]:
df.filter((df.abool == False) | (df.n < 1)).show(5)
# OR ---> df.where

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

---

## 7. Sorting

### a. 
Use the starter code above to re-create a spark dataframe.

In [50]:
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

### b.
Sort by the n value.

In [89]:
df.sort(df.n).show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -0.712390662050588|    z|false|
|-0.24332625188556253|    y| true|
+--------------------+-----+-----+
only showing top 5 rows

### c. 
Sort by the group value, both ascending and descending.

In [90]:
from pyspark.sql.functions import asc, desc

In [91]:
df.sort(df.group).show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  0.8612113741693206|    x|false|
|-0.02677164998644...|    x| true|
| -0.7889890249515489|    x|false|
|   0.753766378659703|    x|false|
|  0.6062886568962988|    x|false|
+--------------------+-----+-----+
only showing top 5 rows

In [92]:
df.sort(desc('group')).show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|-0.04450307833805...|    z|false|
|  -0.712390662050588|    z|false|
| 0.12730328020698067|    z|false|
|  1.4786857374358966|    z| true|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

### d. 
Sort by the group value first, then, within each group, sort by n value.

In [96]:
df.sort((df.group), df.n.asc()).show(20)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
|-0.02677164998644...|    x| true|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
|-0.24332625188556253|    y| true|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.5628467852810314|    y| true|
|  0.9137407048596775|    y|false|
|  2.1503829673811126|    y| true|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
|  1.3451017084510097|    z|false|
|  1.3501878997225267|    z|false|
|  1.4786857374358966|    z| true|
+--------------------+-----+-----+

### e.
Sort by abool, group, and n. Does it matter in what order you specify the columns when sorting?

- It DOES matter which order yout specify the columns. They will sort in the order they are specified.

In [97]:
df.sort(df.group, df.abool, df.n).show(10)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7889890249515489|    x|false|
| 0.31735092273633597|    x|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
|  0.8612113741693206|    x|false|
|-0.02677164998644...|    x| true|
|  -1.261605945319069|    y|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.9137407048596775|    y|false|
+--------------------+-----+-----+
only showing top 10 rows

In [99]:
df.sort( df.n, df.group, df.abool).show(10)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -1.261605945319069|    y|false|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -0.712390662050588|    z|false|
|-0.24332625188556253|    y| true|
|-0.04450307833805...|    z|false|
|-0.02677164998644...|    x| true|
| 0.12730328020698067|    z|false|
| 0.31735092273633597|    x|false|
| 0.45181233874578974|    y|false|
+--------------------+-----+-----+
only showing top 10 rows

In [100]:
df.sort(df.abool, df.n, df.group).show(10)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -1.261605945319069|    y|false|
| -0.7889890249515489|    x|false|
|  -0.712390662050588|    z|false|
|-0.04450307833805...|    z|false|
| 0.12730328020698067|    z|false|
| 0.31735092273633597|    x|false|
| 0.45181233874578974|    y|false|
|  0.5323378882945463|    y|false|
|  0.6062886568962988|    x|false|
|   0.753766378659703|    x|false|
+--------------------+-----+-----+
only showing top 10 rows

---

## 8. Aggregating

### a. 
What is the average n value for each group in the group column?

In [113]:
df.groupBy('group').agg(avg(df.n)).show(3)

+-----+------------------+
|group|            avg(n)|
+-----+------------------+
|    z| 0.590730814237962|
|    x|0.2871427762539448|
|    y|0.2576014196023739|
+-----+------------------+

### b.
What is the maximum n value for each group in the group column?

In [112]:
df.groupby('group').agg(max(df.n)).show(3)

+-----+------------------+
|group|            max(n)|
+-----+------------------+
|    z|1.4786857374358966|
|    x|0.8612113741693206|
|    y|2.1503829673811126|
+-----+------------------+

### c. 
What is the minimum n value by abool?

In [114]:
df.groupby('abool').agg(min('n')).show(2)

+-----+-------------------+
|abool|             min(n)|
+-----+-------------------+
|false| -1.261605945319069|
| true|-1.0453771305385342|
+-----+-------------------+

### d. 
What is the average n value for each unique combination of the group and abool column?

In [116]:
df.groupby('group', 'abool').agg(avg('n')).show()

+-----+-----+--------------------+
|group|abool|              avg(n)|
+-----+-----+--------------------+
|    z|false| 0.41313982959837514|
|    x|false|  0.3499256615020219|
|    y|false| 0.15907124664523611|
|    y| true| 0.35613159255951177|
|    z| true|  1.4786857374358966|
|    x| true|-0.02677164998644...|
+-----+-----+--------------------+

---

## 9. Spark SQL

### a. 
Use the starter code above to re-create a spark dataframe.

In [51]:
df.show(5)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
+--------------------+-----+-----+
only showing top 5 rows

### b.
Turn your dataframe into a table that can be queried with spark SQL. 

- Name the table my_df. 

- Answer the rest of the questions in this section with a spark sql query (spark.sql) against my_df. 
- After each step, view the first 7 records from the dataframe.

In [125]:
df.createOrReplaceTempView("my_df")

### c. 
What happens if you make a SQL syntax error in your query?

In [132]:
spark.sql(
        """
SELECT group, abol
FROM my_df
"""
).show(7)

AnalysisException: cannot resolve 'abol' given input columns: [my_df.abool, my_df.group, my_df.n]; line 2 pos 14;
'Project [group#333, 'abol]
+- SubqueryAlias my_df
   +- View (`my_df`, [n#332,group#333,abool#334])
      +- LogicalRDD [n#332, group#333, abool#334], false

### d. 
Write a query that shows all of the columns from your dataframe.

In [133]:
spark.sql(
    """
SELECT * 
FROM my_df
"""
).show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

### e.
Write a query that shows just the n and abool columns from the dataframe.

In [134]:
spark.sql(
    """
SELECT n, abool
FROM my_df
"""
).show(7)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
|  0.5323378882945463|false|
|  1.3501878997225267|false|
+--------------------+-----+
only showing top 7 rows

### f.
Write a query that shows just the n and group columns. Rename the group column to g.

In [135]:
spark.sql(
    """
SELECT n, group as g
FROM my_df
"""
).show(7)

+--------------------+---+
|                   n|  g|
+--------------------+---+
|  -0.712390662050588|  z|
|   0.753766378659703|  x|
|-0.04450307833805...|  z|
| 0.45181233874578974|  y|
|  1.3451017084510097|  z|
|  0.5323378882945463|  y|
|  1.3501878997225267|  z|
+--------------------+---+
only showing top 7 rows

### g.
Write a query that selects n, and creates two new columns: n2, the original n values halved, and n3: the original n values minus 1.

In [137]:
spark.sql(
    """
SELECT n, 
       n / 2 as n2,
       n - 1 as n3
FROM my_df
"""
).show(7)

+--------------------+--------------------+--------------------+
|                   n|                  n2|                  n3|
+--------------------+--------------------+--------------------+
|  -0.712390662050588|  -0.356195331025294|  -1.712390662050588|
|   0.753766378659703|  0.3768831893298515|-0.24623362134029703|
|-0.04450307833805...|-0.02225153916902...| -1.0445030783380536|
| 0.45181233874578974| 0.22590616937289487| -0.5481876612542103|
|  1.3451017084510097|  0.6725508542255049| 0.34510170845100974|
|  0.5323378882945463| 0.26616894414727316| -0.4676621117054537|
|  1.3501878997225267|  0.6750939498612634| 0.35018789972252673|
+--------------------+--------------------+--------------------+
only showing top 7 rows

====================================================================================================================================================================================================================